<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hr - Project</title>
</head>
<body>
<form action="kaydet" method="post">
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="email" name="email" class="input-group-text" id="basic-addon2"></input>
</div>
<button>Send</button>
</form>
</body>
</html>